@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website was spun up quickly using ASP.Net MVC templates and Azure hosting services.</p>

<p>There are also interactions with an SQL database also hosted by Azure. This site features basic CRUD operations.</p>
