@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Babak Momen<br />
    University of Dundee<br />
    <abbr title="Phone">P:</abbr>
    0.0.0.0.0
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:b.momen@dundee.ac.uk">b.momen@dundee.ac.uk</a>
</address>