@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC 5 Web Application</h1>
    <p class="lead">This is a test web application hosted on Microsoft Azure.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Create, Read, Update, Delete</h2>
        <p>
            ASP.NET MVC provides tools to easily generate pages which can do CRUD operations.
        </p>
        @Html.ActionLink("Example Database CRUD - Movies", "Index", "Movies")<br />
    </div>
    <div class="col-md-4">
        <h2>Bootstrap</h2>
        <p>Changing the theme is easy with ASP.net MVC applications. They come preinstalled with Bootstrap and all it takes to change the theme is one file change.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Authentication</h2>
        <p>Users can log in via standard methods of Username and password, or by using an external provider such as Facebook or Twitter. These features will be added to this site soon.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>